# Rider creates an .idea folder
.idea/
Binaries
# Unreal creates a Build folder after cooking
Build/
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
